<p id="notice"><%= notice %></p>
<h1>This book belongs to <%= @book.user.username %> </h1>
<%= render 'book', book: @book %>
<%= link_to 'Review this book', new_review_path + "?book=#{@book.id}" %>
<%= render 'shared/review_list', parent: @book %>